<!DOCTYPE html>
<html>

<head>
  <link type="text/css" rel="stylesheet" href="/static/css/my.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="searchmenu">
    <input class="searchmenuinput searchmenuelement" id="myInput" type="text" placeholder="Поиск" list="tagnameac">
    <select class="searchmenuselected searchmenuelement" id="selected-r">
      <option value="mix">Mix</option>
      <option value="general">General</option>
      <option value="questionable">Questionable</option>
      <option value="explicit">Explicit</option>
    </select>
  <div id="paginator" class="horizscroll"></div>
  </div>
  <datalist id="tagnameac"></datalist>
  <div id="aniimated-thumbnials" class="mainsearchdata"></div>
  <script src="/static/js/my.js"></script>
  <script>
    main_my();
  </script>
</body>

</html>