<!DOCTYPE html>
<html>

<head>
  <link type="text/css" rel="stylesheet" href="/static/css/my.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="searchmenu">
    <input class="searchmenuinput" id="myInput" type="text" placeholder="Поиск" list="tagnameac">
    <select class="searchmenuselected" id="selected-r">
      <option value="mix">Mix</option>
      <option value="general">General</option>
      <option value="questionable">Questionable</option>
      <option value="explicit">Explicit</option>
    </select>
  </div>
  </div>
  </br>
  </br>
  </br>
  <datalist id="tagnameac"></datalist>
  </br>
  <div style="display: none;" id="windss" class="winds">
    <button class="buttonclose" onclick="close_full()">X</button>
    </br>
    <img height="90%" id="imagef" src=""></img>
    </br>
    <button class="buttonclose" onclick="close_full()">X</button>
  </div>
  <div id="aniimated-thumbnials"></div>
  <script src="/static/js/my.js"></script>
  <script>
    main_my();
  </script>
</body>

</html>